.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.image-box-left,
.image-box-right {
    width: 45%;
    max-width: 500px;
}

.image-box-left {
    float: left;
    margin: 0.5rem 2rem 1rem 0;
}

.image-box-right {
    float: right;
    margin: 0.5rem 0 1rem 2rem;
}

.image-wrapper {
    background-color: var(--image-bg-color);
    padding: 30px;
    border: 4px solid var(--image-border-color);
    display: inline-block;
    box-shadow: 0 2px 4px var(--shadow-color);
    width: 100%;
    box-sizing: border-box;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
}

.image-caption {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    font-family: var(--sans-font);
    font-style: normal;
    text-align: center;
    max-width: 100%;
    line-height: 1.4;
}

.image-caption a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.image-caption a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}


@media (max-width: 768px) {
    .image-box {
        margin: 0.5rem 0;
        width: 100%;
    }
    
    .image-box-left,
    .image-box-right {
        float: none;
        margin: 0.5rem 0;
        width: 100%;
        max-width: 100%;
    }
    
    .image-wrapper {
        padding: 8px;
        border-width: 2px;
        box-shadow: 0 1px 2px var(--shadow-color);
    }
    
    .image-caption {
        margin-top: 6px;
        font-size: 1rem;
    }
}